<template>
  <div class="container">
    <Toast
      v-for="toast in toastList"
      :key="toast.id"
      :id="toast.id"
      :color="toast.color"
    />
  </div>
</template>

<script>
import Toast from "./Toast.vue";
import { mapGetters } from "vuex";

export default {
  components: {
    Toast,
  },
  computed: {
    ...mapGetters(["toastList"]),
  },
};
</script>

<style scoped>
.container {
  position: fixed;
  bottom: 0;
  right: 0;
}
</style>
