<template>
  <transition name="toast-list" appear>
    <div
      class="toast"
      @click="remove(id)"
      @mouseover="pause(id)"
      @mouseleave="restart(id)"
      :style="{ borderColor: color }"
    >
      <p>Toast Message {{ id }}</p>
    </div>
  </transition>
</template>

<script>
import { mapActions } from "vuex";
export default {
  props: {
    id: Number,
    color: String,
  },
  methods: {
    ...mapActions(["remove", "pause", "restart"]),
  },
};
</script>

<style scoped>
.toast {
  background-color: rgba(230, 230, 230, 0.3);
  width: 15rem;
  margin: 1rem;
  border: 3px solid;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: all 1s;
}
.toast-list-enter,
.toast-list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}
.toast-list-leave-active {
  transition: all 0.5s;
}
</style>
