<template>
  <div>
    <div class="center">
      <h1>Simple Toast</h1>
      <button @click="addToast">ADD</button>
    </div>
    <div>
      <ToastList />
    </div>
  </div>
</template>

<script>
import ToastList from "./components/ToastList.vue";
import { mapActions } from "vuex";

export default {
  name: "App",
  components: {
    ToastList,
  },
  methods: {
    ...mapActions(["addToast"]),
  },
};
</script>

<style>
.center {
  text-align: center;
}
button {
  padding: 1.3em 3em;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: white;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-top: 1em;
}
</style>
